:root {
    --color1: #E3E3EB;
    --color2: #1B2123;
    --color3: #3C5570;
    --color4: #97A3AE;
    --color5: #647B95;
    --text: #C0BFBA;
}
body {
    background-color: var(--color1);
    margin: 0;
    padding: 0;
}
nav {
    background-color: var(--color4);
    padding: 1rem;
}
.nav-item {
    gap: 1rem;
}
a {
    color: var(--text);
    text-decoration: none;
}