:root {
    --color1: #E3E3EB;
    --color2: #1B2123;
}
body {
    background-color: var(--color1);
    margin: 0;
    padding: 0;
}
nav {
    background-color: var(--color2);
    padding: 2rem;
    
}